/*
Theme Name: The Head Spa
Description: The Head Spa Theme
Author: Smoking Gun Creative Agency
Author URI: https://nosmokenofire.com
Author Email: support@nosmokenofire.com
Version: 1.0.0
Text Domain: hello-elementor-child
Template: hello-elementor
*/
/*
Add your custom styles here
*/
